extends layout
block content    
    .container
        h2 Contact Us
    hr
    .container
        form.form-horizontal(action='/contact', method='POST',  name="userForm")

            div.form-group
                label.col-sm-2.control-label(for='name') Name
                .col-sm-10
                    input#name.form-control(type='text', placeholder='Name', name="name", value=body.name )                     

            div.form-group
                label.col-sm-2.control-label(for='email') Email
                .col-sm-10
                    input#email.form-control(type='text', placeholder='Email', name="email" value=body.email )                      
            div.form-group
                label.col-sm-2.control-label(for='phone') Phone
                .col-sm-10
                    input#phone.form-control(type='text', placeholder='Phone', name="phone" value=body.phone )                        

            div.form-group
                label.col-sm-2.control-label(for='address') Address
                .col-sm-10
                    input#address.form-control(type='text', placeholder='Address', name="address" value=body.address)
                    p(class="help-block") Your address is required.
            div.form-group
                label.col-sm-2.control-label(for='message') Content
                .col-sm-10
                    textarea#message.form-control(placeholder='Message',rows= 10, name="message", )=body.message

            div.form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type='submit', ) Send a contact
                    // hien thi cac loi tai day.
                    //if msgErrors !== undefined
                    ul(style = "color:red")
                        each val in msgErrors
                            li= val       
